* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f2f5;
}

.text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.text img {
    width: 70%;
}

.text p {
    font-size: 1.5rem;
    width: 75%;
    text-align: left;
    padding-left: 7%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 28%;
    background-color: #fff;
    height: 350px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0), 0 8px 16px rgb(0 0 0 / 10%);
}

.form .email, .form .sandi {
    padding: 15px;
    border: 1px solid #dddfe2;
    border-radius: 7px;
    font-size: 1.1rem;
    outline-color: #1877f2;
    animation: animateOutline 1s linear infinite;
}

@keyframes animateOutline {
    100% {
        filter: hue-rotate(360deg);
    }
}

.form .asup{
    padding: 15px;
    border: 1px solid #dddfe2;
    border-radius: 7px;
    background-color: #1877f2;
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.form a {
    color: #1877f2;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
}

.form hr {
    border-top: 1px solid #dddfe2;
}

.form .nyieun-akun {
    padding: 15px;
    border: 1px solid #dddfe2;
    border-radius: 7px;
    background-color: #42b72a;
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
    width: 60%;
    margin: 0 auto;
}

.form p {
    position: relative;
    bottom: -80px;
}

.form p a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: medium;
}